*{
  margin:0;
  padding:0;
}

#page {
  background: rgb(243, 238, 238);
  display: block;
  width: 100%;
  height: 100%;

  position: fixed;
  top: 0;
  left: 0;
}

h1{ /* Ver depois pq o h1 oculpa o espaço da página inteira*/
  text-align: center;
  color:rgb(13, 66, 112);
  font-family: 'Trebuchet MS';
  background-color: rgb(255, 236, 127);
  margin-left: 500px;
  margin-right: 500px;
  
}

.dot{
  display: block;
  height: 10px;
  width: 10px;
  background: red;

  position: absolute;
  top: 100px;
  left: 100px;

}
